.wrapper {
    width: 960px;
    min-height: 100vh;
    margin: auto;
    font-family: sans-serif;
    font-size: 24px;
    text-align: center;
    color: navy;
    box-shadow: 0 0 5px 2px hsla(0,0%,0%,0.2);
}

.block {
    width: 90%;
    padding: 10px;
    margin: 0 auto 20px;
    box-shadow: 0 0 5px 3px rgba(28, 73, 2, 0.5);
}
.box {
    width: 80%;
    min-height: 50px;
    margin: auto;
    line-height: 1;
    border: 1px solid gold;
    margin-bottom: 25px;
}

.intro {
    text-shadow: 4px 4px 4px hsla(0, 0%, 0%, 0.9);
}

.blur {
    text-shadow: 0 0 10px  hsla(0, 0%, 0%, 0.8);
}

.axisX {
    text-shadow: 10px 0 0 hsla(0, 0%, 0%, 0.2);
}

.axisY {
    text-shadow: 0 -10px 0 hsla(0, 0%, 0%, 0.2);
}

.multy {
    text-shadow: -1px -1px 0 hsla(0, 100%, 50%, 0.8), 
               1px 1px 0 hsla(240, 100%, 50%, 0.8);
}

.oilOcean1 {
    color: #df0b38;
}
.oilOcean2 {
    color: #aa8858;
}
.oilOcean3 {
    color: #b825df;
}
.oilOcean4 {
    color: #658b12;
}
.oilOcean5 {
    color: #c5a74b;
}